body {
    background: #ed3491;
    color: #0a0a0a;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button {
    width: 100px;
    height: 50px;
    border-radius: 100px;
    border: solid 5px;
    background-color: #ed3491;
    color: black;
    font-family: 'Epilogue', sans-serif;
    cursor: pointer;
}
button:hover {
    opacity: 90%;
}
input {
    width: 10%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ed3491;
    border-radius: 4px;

    transition: width 0.4s ease-in-out;
}
input:focus {
    width: 25%;
}
a {
    text-decoration: none;
    color: purple;
}
a:hover {
    color: peru;
}
.content {
    position: relative;
    top: 150px;
    padding: 100px 200px;
    background: white;
}
.game-box {
    position: relative;
    top: 100px;
    font-size: 25px;
    padding: 100px 200px;
}
.arrow-item {background:#ccc;cursor:default;font-weight:bold;border-radius:20px;border:solid 3px #ed3491;}
.hide {
    display: none;
}